@use '../../styles/styles.scss' as *;

.title {
  cursor: pointer;
  padding: 10px;
  word-break: break-all;
  &:not(:last-child) {
    border-bottom: 1px solid #ffedc5;
  }
  &:hover {
    background-color: #ffedc5;
    border-radius: 24px;
  }
}
.selected {
  font-weight: 700;
}
