@use '@styles/styles.scss' as *;

.container {
  display: flex;
  flex-direction: column;
}

.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: inherit;
}

.error {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
