@use '../../styles/styles.scss' as *;

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100hv;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title {
  text-align: center;
  color: #000000;
  font-size: 34px;
  &__sub {
    color: #505050;
    font-size: 14px;
    text-align: center;
    &__reg {
      font-style: italic;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
@media (max-width: $tablet) {
  .container {
    gap: 16px;
  }
  .title {
    max-width: 250px;
    font-size: 24px;
    &__sub {
      color: #505050;
      font-size: 10px;
    }
  }
}

@media (max-width: $small-mobile) {
  .container {
    gap: 8px;
  }
  .title {
    max-width: 150px;
    font-size: 15px;
    &__sub {
      color: #505050;
      font-size: 8px;
    }
  }
}
